@mixin xs {
  @media (max-width: 575.98px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 577px) and (max-width: 767.98px) {
    @content;
  }
}

@mixin sm-lt {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) and (max-width: 991.98px) {
    @content;
  }
}

@mixin md-lt {
  @media (max-width: 991.98px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) and (max-width: 1199.98px) {
    @content;
  }
}

@mixin lg-lt {
  @media (max-width: 1199.98px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}