@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
/*@import url(../../public/fonts/BerryRotunda.ttf);*/

body {
    background-color: azure!important;
    background: url(../img/Scene-12.jpg)!important;
    background-size: cover!important;
    min-height: 100vh!important;
}

main{
    min-height: 90vh!important;
}

/*@font-face {*/
/*    font-family: 'BerryRotunda';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-display: swap;*/
/*    src: url('../../public/fonts/BerryRotunda.ttf') format('ttf');*/
/*}*/



.navbar-padding{
    padding-left: 50px;
    background-color: #b8dbd9!important;
    color: #212529!important;
}

.navbar-brand{
    color: #212529!important;
    text-decoration: none!important;
}

.navbar-brand img{
    width: 50px;
    margin-right: 20px;
}

.navbar-nav.ml-auto{
    margin-left: 20px;
}

.btn-sign{
    text-decoration: none;
    border: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    color: black;
    font-weight: 700;
    font-size: 14px;
    background-color: rgba(184,219,217,1);
    padding: 0px 15px;
    margin: 0 auto;
    position: relative;
    right: 15px;
}

/** connexion **/

.form-login{
    position: absolute;
    /* margin: auto; */
    top: 33vh;
    left: 37vw;
    background: rgba(255,255,255,0.65);
    padding: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.title-font{
    font-family: 'Akaya Telivigala', cursive;
}

.title-map-font{
    font-family: 'MedievalSharp', cursive;
    margin: 0;
}

.banner-map{
    background: url("../img/map/Panel.png");
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    width: 340px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cases{
    display: flex;
    flex-wrap: wrap;
    width: 1154px;
    height: 770px;
    position: relative;
    z-index: 2;
    -webkit-border-image: url(../img/map/Border.png);
    -webkit-border-image-width: 50px!important;
    -webkit-border-image-slice: 120!important;
    -webkit-border-image-repeat: unset!important;
    border: 1px black solid;
}

.case{
    content: "";
    width: 48px;
    height:48px;
    /*background: rgba(255,255,255,0);*/
}

.top-container{
    display: flex;
    flex-direction: row;
}

.user-stats-block{
    background: url("../img/gui/Panel2.png");
    background-size: 355px 131px;
    color: white;
    min-width: 350px;
    max-width: 350px;
    height: 131px;
}

.user-stats-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.user-stats-points{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.username-block{
    /*background: url(../img/gui/CharacterPlayer/OverlayBorder.png);*/
    /*background-size: 380px 180px;*/
    color: white;
    width: 380px;
    height: 130px;
    position: relative;
}

.player-pseudo{
    color: aliceblue;
    font-size: 20px;
    background:  url("../img/gui/CharacterPlayer/Panel.png");
    background-size: cover;
    position: absolute;
    width: 289px;
    height: 32px;
    text-align: center;
    top: 29px;
    left: 64px;
    z-index: -2;
}

.avatar-player{
    width: 130px;
    z-index: -1;
    -webkit-border-image: url("../img/gui/CharacterPlayer/AvatarCircle.png");
}

.username-block .avatar-player{
    position: absolute;
    top: 32px;
    left: 16px;
}

.lifeBar{
    width: 230px;
    height: 30px;
    padding: 0;
    background: url(../img/gui/CharacterPlayer/ProgressBar/BqBar.png);
}

.username-block .lifeBar{
    position: absolute;
    top: 53px;
    left: 117px;
    z-index: -2;
}

.lifeBar .valueBar{
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.username-block .lifeBar .valueBar{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(213,9,9,1) 39%);
}

.manaBar{
    width: 230px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/gui/CharacterPlayer/ProgressBar/BqBar.png);
}

.username-block .manaBar{
    position: absolute;
    top: 85px;
    left: 117px;
    z-index: -2;
}

.username-block .value-bar-text{
    position: absolute;
    left: 75px;
    width: 200px;
}

.manaBar .valueBar{
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.username-block .manaBar .valueBar{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,130,213,1) 39%);;
    position: absolute;
    left: 0;
}

.player-level{
    color: greenyellow;
    background: url(../img/gui/CharacterPlayer/OverlayLevel.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: -2;
}


.joueur-cible .lifeBar{
    position: absolute;
    top: 57px;
    left: 20px;
    z-index: -1;
    display: flex;
    justify-content: right;

}

.joueur-cible .manaBar{
    position: absolute;
    top: 89px;
    left: 20px;
    z-index: -1;
    display: flex;
    justify-content: right;

}

.joueur-cible .lifeBar .valueBar{
    background: linear-gradient(90deg, rgba(213,9,9,1) 61%, rgba(0,0,0,1) 100%);
}

.joueur-cible .manaBar .valueBar{
    background: linear-gradient(90deg, rgba(9,130,213,1) 61%, rgba(0,0,0,1) 100%);
}

.joueur-cible{
    position: relative;
    height: 180px;
    /*background: url(../img/gui/CharacterEnemy/OverlayBorder.png);*/
    /*background-size: 380px 180px;*/
}

.joueur-cible-name{
    color: white;
    text-align: center;
    background: url(../img/gui/CharacterEnemy/PanelTitle.png);
    background-size: cover;
    width: 236px;
    height: 34px;
    position: absolute;
    top: 28px;
    left: 32px;
    z-index: -2;
    color: crimson;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joueur-cible .avatar-player{
    border-radius: 50%;
    width: 120px;
    position: absolute;
    left: 220px;
    top: 22px;
    border-image: url(../img/gui/CharacterEnemy/AvatarCircle.png);
    border: solid;
}

.joueur-cible-level{
    color: crimson;
    background: url(../img/gui/CharacterEnemy/OverlayLevel.png);
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: absolute;
    top: 104px;
    left: 306px;
    z-index: -2;
}

.target-stats{

}


.joueur{
    /*background-image: url("../img/character/mage/guerrier.png")!important;*/
    background-size: contain;
    content: "";
    width: 48px;
    height: 48px;
    position: relative;
}

.joueur-hover{
    position: absolute;
    top: 25px;
    left: 25px;
    background: aliceblue;
    color: #200F00;
    min-width: 184px;
    border: solid black 1px;
}

.joueur:hover .joueur-hover{
    display: flex!important;
    z-index: 2;
    border-radius: 5px;
}

.joueur-name{
    text-align: center;
    /*background: #76c893;*/
    background: #200F00;
    color: aliceblue;
}

.joueur-level{
    padding-left: 10px;
}

/* PNJ */

.pnj{
    content: "";
    width: 48px;
    height: 48px;
    position: relative;
}

.pnj:hover .pnj-hover{
    display: flex!important;
    z-index: 2;
    border-radius: 5px;
}

.pnj-hover{
    position: absolute;
    top: 25px;
    left: 25px;
    background: #200F00;
    color: aliceblue;
    min-width: 284px;
    border: solid black 1px;
    font-size: 14px;
    padding: 3px;
}

.pnj-name{
    font-weight: bold;
    text-align: center;
}

.pnj-description{
    font-style: italic;
}

.map-container{
    /*border-image: url("public/img/sprites/titles2/Medieval.png") 30 / 19px round*/;
    /*border-image: url("public/img/sprites/titles2/Medieval.png") 30 / 19px round*/;
    width: auto;
    margin-right: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/************** ATH ****************/

.coin-icon{
    width: 24px;
    height: 24px;
}

.life-icon, .mana-icon{
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.progress-bar-stats{
    width: 100%;
}

.side-block{
    margin-right: 15px;
}

.side-menu{
    background: url("../img/gui/Panel3.png");
    background-size: 391px 203px;
    border-radius: 10px;
    color: white;
    min-width: 350px;
    max-width: 350px;
}

.side-menu-link span{
    color: white;
}

.side-menu-icon{
    width: 60px;
    height: 60px;
}

.exp-icon-container{
    background: url(../img/gui/Overlay.png);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    padding-left: 5px;
    position: absolute;
    top: 13px;
    left: -15px;
}

.exp-bar-container{
    position: relative;
}

.expBar{
    content: "";
    background: url(../img/gui/exp/ProgressBar/Separator.png);
    height: 9px;
    width: 1000px;
    background-size: cover;

}

.exp-bar-container .label-bar{
    color: #ccc;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
}

.expBar .valueBar{
    background: url(../img/gui/exp/ProgressBar/Bar.png);
    background-size: cover;
    width: 800px;
    content: "";
    height: 9px;
}

.spell-bar {
    width: 1248px;
    padding: 20px;
    margin-left: 422px;
    background: url(../img/gui/spells/spell-bar/Panel.png);
    background-position: center;
    background-size: cover;
}

.spell-container{
    position: relative;
}

.spell{
    min-width: 71px;
    min-height: 71px;
    /*-webkit-border-image: url(../img/icons/border-spell2.png);*/
    background: url(../img/gui/spells/spell-bar/Cell.png);
    border-image-repeat: unset;
    content: "";
    background-size: cover;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    cursor: pointer;
}

.spell-filter{
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 71px;
    min-height: 71px;
    font-size: 22px;
    color: white;
    text-align: center;
    vertical-align: middle;
}


/* Prevents you from clicked the button multiple times */
.spell.disabled {
    pointer-events: none;
}

/* Makes sure we click the skill not anything in it */
.spell > * {
    pointer-events: none;
}



.cooldown-filter {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.img-spell{
    width: 64px;
    height: 64px;
}



.block-chat{
    background: #212529;
    height: 400px;
    -webkit-border-image: url(../img/icons/ciblage-border.png);
    border-image-width: 50px;
    border-image-slice: 120;
    border-image-repeat: unset;
    border-style: solid;
    position: relative;
}

.block-chat input{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.bottom{
    position: absolute;
    bottom: 10px;
    width: 80%;
}


/*** PARALLAX ***/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    overflow-x: hidden;
    background: white;
    min-height: 100vh;
}

#header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.8);
}

#header .logo {
    color: white;
    text-decoration: none;
}

#header .img-logo{
    width: 100px;
}

#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li{
    list-style: none;
    margin-left: 20px;

}

#header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

#header ul li a:hover, #header ul li a:active{
    background: #094b65;
    color: #fff;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /*background: linear-gradient(to top, #34a0a4, transparent);*/
    z-index: 10;
}

section img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    object-fit: cover;
}

section #text{
    position: absolute;
    color: #094b65;
    font-size: 10vw;
    text-align: center;
    line-height: 0.2em;
    transform: translateY(-77%);
    z-index: 1000;
    font-family: 'Akaya Telivigala', cursive;
    text-shadow: #1f69c0 1px 1px;
}

section #text span{
    font-size: 0.2em;
    letter-spacing: 2px;
    font-weight: 400;
}

#btn{
    text-decoration: none;
    display: inline-block;
    transform: translateY(100px);
    border: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    color: black;
    font-weight: 700;
    font-size: 15px;
    background-color: rgba(184,219,217,1);
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    position: relative;
    /*background-image: url(../../img/spell.png);*/
    /*background-size: cover;*/
    /*background-position:  center;*/
    /*background-position-y: -30px;*/
    /*transition: ease-in-out 0.1s;*/
    /*border-radius: 20px*/
}

#btn span{
    z-index: 2000;
    position: relative;
    color: #094b65;
}

#btn:hover{
    background-color: rgba(184,219,217,0.3);
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

/*#btn:before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    height: 490%;*/
/*    width: 140%;*/
/*    background: #78c7d2;*/
/*    -webkit-transition: all .5s ease-in-out;*/
/*    transition: all .5s ease-in-out;*/
/*    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);*/
/*    transform: translateX(-98%) translateY(-25%) rotate(45deg);*/
/*    z-index: 1;*/
/*}*/

/*#btn:hover:before {*/
/*    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);*/
/*    transform: translateX(-9%) translateY(-25%) rotate(45deg);*/
/*}*/


.sec{
    position: relative;
    padding: 100px;
    background: #b8dbd9;
    opacity: 1;
    top: -300px
}

#bird1{
    z-index: 5000;
}

#bird2{
    z-index: 5000;
}

#war{
    max-width: 320px;
    max-height: 516px;
    top: 375px;
    /* right: 66px; */
    left: 80%;
}

#moon{
    transform: translateY(20px);
    width: auto;
    left: 60px;
}



.sec h2{
    font-size: 3.5em;
    color: #fff;

}

/** Profil **/

.profil-container{
    width: 80%;
    margin: auto;
}

.profil{
    /*background: #212529e3;*/
    background: url(../img/gui/MainWindowCharacter/Panel.png);
    background-size: 100% 100%;
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    color: aliceblue;
}

.informations{
    display: flex;
    flex-direction: column;
}

.statistiques{
    display: flex;
    flex-direction: column;
}

.champ-caracteristique{
    display: flex;
}

.champ-caracteristique .form-group input{
    background: #b7e4c7;
    text-align: center;
}

.btn-caracteristique{
    border-radius: 0.25em 0 0 0.25em;
    width: 38px;
    height: 38px;
    position: relative;
    top: 24px;
    left: 3px;
    background: #222;
    border: none;
}

.btn-caracteristique:after {
    content: "";
    border: 0.35em solid;
    border-color: transparent transparent transparent #222;
    position: absolute;
    top: 0.85em;
    right: -0.65em;
}

.btn-caracteristique-reverse:after {
    content: "";
    border: 0.35em solid;
    border-color: transparent transparent transparent #222;
    position: absolute;
    top: 0.85em;
    right: 2.35em;
    transform: rotateY(180deg);
}


.btn-caracteristique-reverse{
    border: none;
    border-radius: 0 0.25em 0.25em 0;
    width: 38px;
    height: 38px;
    position: relative;
    top: 24px;
    right: 3px;
    background: #222;
}

.btn-caracteristique i, .btn-caracteristique-reverse i{
    color: aliceblue;
}

.btn-valider-caracs{
    margin: auto;
    background: #222;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
}

.equipement{
    width: min-content;
}

.equipement img{
    width: 130%!important;
}

.item-case{
    content: "";
    width: 60px;
    height: 60px;
    border-rarius: 7px;
    background: rgba(0,0,0, 0.75);
    border: solid grey 1px;
    position: absolute;
}

.archer.bottes{
    top: 383px;
    left: 92px;
}

.archer.bras{
    top: 168px;
    left: 48px;
}

.archer.arme{
    top: 171px;
    left: 261px;
}

.archer.tete{
    top: 78px;
    left: 124px;
}

.archer.corps{
    top: 220px;
    left: 154px;
}



.unabled-move{
    background-color: rgba(255,255,255,0.6);
}

.unabled-move:hover{
    background-color: rgba(0,0,0,0.6);
}


.block-notification{
    max-width: 340px;
    min-width: 0;
    background-color: #200F00;
    margin-top: 50px;
    padding: 25px;
    color: aliceblue;
    text-align: center;
    font-size: 14px;
}



.footer{
    height: 70px;
    padding-left: 50px;
    background-color: #b8dbd9!important;
    color: #212529!important;
    display: flex;
    align-items: center;
}



.btn-action{
    background: none;
    border: white;
    color: cadetblue;
    font-style: italic;
}